<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static "reset.css" %}>
    <link rel="stylesheet" href={% static "registration/base.css" %}>
    {% block head %}{% endblock %}
    <title>{% block title %}APix{% endblock %}</title>
</head>
<body>


<div id="content">
    <div id="APix-logo" style="background-position: center; background-image: url({% static "img/APix-logo.png" %});"></div>
    {% block body %}{% endblock %}
</div>
</body>
</html>