{% extends 'registration/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href={% static "registration/css/base.css" %}>
    <script src={% static "registration/js/login.js" %}></script>
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
    <div id="form-wrap">
        <div id="header">
            <a id="a-register" href="/apix/register">
                Sign Up
            </a>
            <a id="a-login" href="/apix/login">
                Log In
            </a>
        </div>
        <form method="post" id="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}