{% extends 'core/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href={% static "registration/base.css" %}>
    <script src={% static "registration/login.js" %}></script>
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
    <div id="form-wrap">
        <div id="header">
            <a id="a-register" href="/APix/register">
                Sign Up
            </a>
            <a id="a-login" href="/APix/login">
                Log In
            </a>
        </div>
    </div>
{% endblock %}