<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "core/css/reset.css" %}>
    <link rel="stylesheet" href={% static "core/css/base.css" %}>
    {% block head %}{% endblock %}
    <title>{% block title %}APix{% endblock %}</title>
</head>
<body>
<div id="toolbar">
    <div class="sb-item-top">
        <a href="#" id="username" class="sb-item-top-button disabled">{{ user.get_username }}</a>
        <a href="#" id="draw-btn" class="sb-item-top-button draw-off">DRAW</a>
        <a class="sb-item-top-button" href="/apix/logout" style="background-color: rgb(26, 177, 136);">Log Out</a>
    </div>
    <select id="logged-users" class="sb-item"></select>
    <div id="tools-wrapper">
        {% block tools %}{% endblock %}
    </div>
</div>

{% block body %}{% endblock %}

</body>
</html>