{% extends 'core/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href={% static "core/css/draw.css" %}>
    <script src={% static "core/js/channel.js" %}></script>
    <script src={% static "core/js/drawHelper.js" %}></script>
    <script src={% static "core/js/base.js" %}></script>
{% endblock %}

{% block title %}Draw{% endblock %}

{% block tools %}
    <div id="tools">
        <div id="colors">
            <div style="background:green;" id="green" onclick="drawHelper.colorSwitch(this)"></div>
            <div style="background:blue;" id="blue" onclick="drawHelper.colorSwitch(this)"></div>
            <div style="background:red;" id="red" onclick="drawHelper.colorSwitch(this)"></div>
            <div style="background:yellow;" id="yellow" onclick="drawHelper.colorSwitch(this)"></div>
            <div style="background:orange;" id="orange" onclick="drawHelper.colorSwitch(this)"></div>
            <div style="background:black;" id="black" onclick="drawHelper.colorSwitch(this)"></div>
            <div style="background:white;" id="white" onclick="drawHelper.colorSwitch(this)"></div>
            <div id="color-div" onclick="drawHelper.colorSwitch(this)" style="background-position: center; background-image: url({% static "img/picker.png" %});">
                <input type="color" name="color-changer" id="picker">
            </div>
        </div>
        <div class="spacer"></div>
        <div id="size-changer">
            <input id="size-range" type="range" name="pen-size" min="10" max="100">
            <div id="size-changer-values">
                <div><div id="val1"></div></div>
                <div><div id="val2"></div></div>
                <div><div id="val3"></div></div>
                <div><div id="val4"></div></div>
                <div><div id="val5"></div></div>
            </div>
        </div>
        <div class="spacer"></div>
        <div id="shapes">
            <div id="circle" class="tool-button" onclick="drawHelper.shapeDraw(this)">
                <span class="tooltiptext">Draw circle</span>
            </div>
            <div id="rectangle" class="tool-button" onclick="drawHelper.shapeDraw(this)">
                <span class="tooltiptext">Draw rectangle</span>
            </div>
        </div>
        <div class="spacer"></div>
        <div id="color-picker-parent" class="tool-button">
            <span class="tooltiptext">Color-picker</span>
            <div id="picker-canvas" onclick="drawHelper.pick()" style="background-image: url({% static "img/color-picker.png" %});"></div>
        </div>
        <div class="spacer"></div>
        <div id="download" class="tool-button" style="background-image: url({% static "img/download.png" %});">
            <span class="tooltiptext">Download</span>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="content">
    <div id="ball"></div>
        <canvas id="collab-drawing">
            Your browser does not support the canvas element.
        </canvas>
    </div>
{% endblock %}