{% extends 'core/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href={% static "core/css/draw.css" %}>
    <link rel="stylesheet" href={% static "core/css/m.draw.css" %}>
    <script src={% static "core/js/drawHelper.js" %}></script>
    <script src={% static "core/js/channel.js" %}></script>
    <script src={% static "core/js/base.js" %}></script>
{% endblock %}

{% block title %}Draw{% endblock %}

{% block tools %}
    <div id="tools">
        <div id="colors">
            <div style="background:green;" id="green" onclick="color(this)"></div>
            <div style="background:blue;" id="blue" onclick="color(this)"></div>
            <div style="background:red;" id="red" onclick="color(this)"></div>
            <div style="background:yellow;" id="yellow" onclick="color(this)"></div>
            <div style="background:orange;" id="orange" onclick="color(this)"></div>
            <div style="background:black;" id="black" onclick="color(this)"></div>
            <div style="background:white;" id="white" onclick="color(this)"></div>
            <div id="color-div"
                 style="background-position: center; background-image: url({% static "img/picker.png" %});">
                <input type="color" name="color-changer" id="picker">
            </div>
        </div>
        <div class="spacer"></div>
        <div id="size-changer">
            <input type="range" name="pen-size" step="25" min="0" max="100">
            <div id="size-changer-values">
                <div><div id="val1"></div></div>
                <div><div id="val2"></div></div>
                <div><div id="val3"></div></div>
                <div><div id="val4"></div></div>
                <div><div id="val5"></div></div>
            </div>
        </div>
        <div class="spacer"></div>
        <div id="download" style="background-image: url({% static "img/download.png" %});"></div>
    </div>
    <div class="sb-item-last" id ="draw-button">
        <a class="sb-item-top-button-large" style="background-color: rgb(26, 177, 136);">Draw</a>
    </div>
{% endblock %}